<form class="flex items-center justify-between w-full p-3 border-t border-gray-300">
  <textarea data-behavior="room_speaker" data-poster="true" data-room_id="<%= chat_room.id %>" data-teacher_id="<%= student_id %>" data-student_id="<%= student_id %>" placeholder="メッセージを入力" class="block w-full py-2 pl-4 mx-3 bg-gray-100 rounded-full outline-none focus:text-gray-700"></textarea>
</form>
