<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<div class="py-5 w-full text-gray-700 bg-white dark-mode:text-gray-200 dark-mode:bg-gray-800 fixed top-0 z-10">
  <div x-data="{ open: false }" class="flex flex-row max-w-screen-xl px-4 mx-auto md:items-center lg:justify-between md:flex-row md:px-6 lg:px-8">
    <%= render "partials/menu" %>
    <%= render "partials/mypage_modal" %>
    <%= render "partials/smartphone_menu" %>
  </div>
</div>
