<div class="py-20">
  <div>
    <div>
      <div class="w-3/5 m-auto text-center">
        <div class="px-3">
          <p class="text-3xl py-14 font-bold underline underline-offset-8">あなたに合う先生を見つけよう</p>
        </div>
        <div class="px-3">
          <%= image_tag 'teachers.png' %>
        </div>
      </div>
    </div>
    <div>
      <div class="w-3/5 m-auto text-center underline underline-offset-8">
        <div class="px-3">
          <p class="text-3xl py-14 font-bold">全体質問で疑問を解決</p>
        </div>
        <div class="px-3">
          <%= image_tag 'questions.png' %>
        </div>
      </div>
    </div>
    <div>
      <div class="w-3/5 m-auto text-center underline underline-offset-8">
        <div class="px-3">
          <p class="text-3xl py-14 font-bold">個別質問で疑問を解決</p>
        </div>
        <div class="px-3">
          <%= image_tag 'chat.png' %>
        </div>
      </div>
    </div>
  </div>
</div>
